#dialog{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    background-color: gray;
    box-shadow: 0px 0px 10px black;
    float: left;
    display: none;
}
#canvasDiv{
    width: 50%;
    float: left;
}



